.cardSection{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    justify-items: center;
    gap: 20px;
}

@media screen and (min-width:1331px){
    .cardSection {
        grid-template-columns: 1fr 1fr 1fr ;
        padding: 0 120px;
    }

}

@media only screen and (max-width: 682px){
    .cardSection {
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns: 1fr;
            /* gap: 20px; */
        }
}


/* h1{
   
} */
a{
    text-decoration: none;
}
/* .mainCardBox2{
} */













/* navbar  */
.navMain {
    /* width: 100%; */
    /* height: 100vh; */
    /* background-color: rgb(202, 199, 13); */
    background: black;
    color: white;
}

.searchSection {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 50px;
}

.searchBox {
    padding: 10px;
    padding-left: 20px;
    /* margin: 10px; */
    border: none;
    border-radius: 10px 0 0 10px;
}

.searchBox:focus {
    outline: none;
    /* border: 1px solid white; */
}

.searchBtn {
    padding: 10px;
    background-color: rgb(29, 29, 29);
    color: white;
    border: none;
    border-radius: 0 10px 10px 0;
    border: 1px solid white;

    /* cursor: pointer; */
}
/* navbar end */